* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-sec {
  display: block !important;
  width: 100%;
  height: 100vh;
  background-image: url(./images/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-sec .header {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-sec .header h2 {
  color: white;
  font-size: 34px;
  margin: 0;
}
.header-sec .header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 22px;
}
ul li a:hover::after {
  position: absolute;
  content: "";
  display: block;
  border: 1px solid white;
  width: 100%;
}
ul li a:hover {
  color: white;
}

.menu-btn {
  display: none;
}

.header-text {
  margin-top: 80px;
  width: 60%;
  color: white;
  font-size: 55px;
  font-weight: 100;
  border: 1px solid white;
  padding: 50px 80px;
}

@media only screen and (max-width: 768px) {
  .heaer-sec .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heaer-sec .header h2 {
    margin: 0;
  }
  .heaer-sec .header nav {
    display: flex;
    align-items: center;
  }
  .header ul {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .header-text {
    width: 60%;
    font-size: 40px;
    padding: 20px 40px;
  }
}
.hidden-section {
  display: none !important;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hidden-section .top-head {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden-section .top-head i {
  padding: 0;
  color: white;
  font-size: 24px;
}
.hidden-section .pages {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-section .pages nav ul {
  display: flex;
  flex-direction: column;
}
.hidden-section .pages nav ul li {
  color: white;
  padding: 10px;
}

.interactive {
  width: 100%;
  height: 100vh;
}
.interactive .left img {
  position: relative;
  margin-top: 100px;
  width: 60%;
  height: 55%;
}
.interactive .right {
  background-color: white;
  position: absolute;
  width: 40%;
  height: 50%;
  padding: 40px;
  left: 570px;
  top: 920px;
}
.interactive .right h1 {
  font-weight: 100;
}
.interactive .right p {
  margin-top: 20px;
  color: gray;
}

@media only screen and (max-width: 768px) {
  .interactive .left img {
    margin-top: 20px;
    position: static;
    width: 100%;
    height: 100%;
  }
  .interactive .right {
    padding: 30px;
    position: static;
    width: 100%;
    height: 100%;
  }
}
.buttons-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons-row h1 {
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 100;
}
.buttons-row .hidden-see a {
  display: block;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px 40px;
  border: 1px solid black;
}
.buttons-row .hidden-see a:hover {
  color: white;
  background-color: black;
}

.creations {
  margin-bottom: 70px;
  width: 100%;
  height: 100%;
}
.creations .img-card {
  position: relative;
  padding: 10px;
}
.creations .img-card img {
  width: 100%;
}
.creations .img-card img:hover {
  opacity: 0.5;
}
.creations .img-card span {
  width: 55%;
  color: white;
  font-size: 28px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 10px;
}
.creations .responsive-button {
  display: none;
}

@media only screen and (max-width: 768) {
  .buttons-row .hidden-see {
    display: none;
  }
  .creations .img-card {
    height: 50px;
  }
  .creations .img-card img {
    height: 30px;
  }
  .creations .responsive-button {
    display: block;
    justify-content: center;
    margin: 15px;
  }
  .creations .responsive-button a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 15px 40px;
    border: 1px solid black;
    margin-bottom: 30px;
  }
  .creations .responsive-button a:hover {
    color: white;
    background-color: black;
  }
}
footer {
  width: 100%;
  height: 100%;
  background-color: black;
}
footer .footer {
  padding: 50px;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer .left h3 {
  color: white;
  margin-bottom: 20px;
}
footer .footer .left a {
  position: relative;
  text-decoration: none;
  color: white;
  padding-right: 15px;
}
footer .footer .left a:hover::after {
  position: absolute;
  content: "";
  display: block;
  border: 1px solid white;
  width: 100%;
  left: 0;
}
footer .footer .right {
  display: flex;
  flex-direction: column;
}
footer .footer .right .copy-2023 {
  color: rgb(94, 94, 94);
}
footer .footer .right .icons {
  display: flex;
  justify-content: end;
}
footer .footer .right .icons i {
  position: relative;
  margin-left: 10px;
  margin-bottom: 15px;
  height: 30px;
  width: 30px;
  font-size: 25px;
}
footer .footer .right .icons i:hover::after {
  position: absolute;
  content: "";
  display: block;
  border: 1px solid white;
  width: 100%;
  left: 0;
  top: 35px;
}

@media only screen and (max-width: 768px) {
  footer {
    height: 56vh;
    display: flex;
    flex-direction: column;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  footer .footer .left {
    padding-top: 20px;
  }
  footer .footer .left .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer .right {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */