header {
  background-color: #20484f;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;

    h4 {
      color: #fff;
    }
    ul {
      display: flex; 

      a {
        color: #fff;
        text-decoration: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        gap: 5%;
      }
    }
    .sign {
      @extend %primary_button;
      background-color: $button_bg_color;
      color: $main_text_color;
      &:hover {
        background-color: #fff;
        color: $main_text_color;
      }
    }
    .login {
      @extend %primary_button;
      background-color: transparent;
      border-color: transparent;
      color: #fff;
    }
    .menu {
      display: none;
    }
  }
}

@media only screen and (max-width:767px){
    .header{
      a , .buttons{
        display: none;
      }
      .menu{
        display: block;
        color: #fff;
      }
    }
}

// @media only screen and (min-width:768px) and (max-width:1024px){
//     .header{
//       padding: 0 5%;
//       a {
//         display: none;
//       }
//       .menu{
//         display: block;
//         color: #fff;
//       }
//     }
// }
