    //colors
$bg_color_sec: #FAFAFA;
$main_text_color: #072125;
$second_text_color: #20484F;
$header_bg_color: #20484F;
$button_bg_color:#B8E4DA;
$button_bg_color_hero:#20484F;



    //font-family
$font-family: 'Plus Jakarta Sans', sans-serif;
